body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #888;
  margin: 0;
  font-family: "Roboto";
  height: 100vh;
}

/* Remove a formatação padrão de hiperlinks */
a {
  text-decoration: none; /* Remove sublinhado */
  color: inherit; /* Mantém a cor padrão do texto */
}

/* Remove a formatação de hiperlinks visitados */
a:visited {
  color: inherit; /* Mantém a cor padrão do texto */
}